/* Style the header */
header {
  background-color: #333;
  color: #fff;
  padding: 40px;
  text-align: center;
  font-size: 45px;
}

/* search bar background*/
.input-group {
  margin-top: 20px;
  text-align: center;
}

/* search bar input */
#searchInput {
  padding: 10px;
  width: 100%;
  max-width: 400px;
}

/* search button */
#searchButton {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #537e5c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Style the weather container */
#weatherContainer {
  padding: 30px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style the music container */
.card-content {
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: smaller;
}

/* Style the liked music list */
#liked-music-list {
  margin-top: 40px;
  list-style: none;
  padding: 45px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style the footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.h3 {
  font-size: 50px;
}