header {
    
    text-align: center;
    font-size: 30px;
    padding: 40px;
  }


  .card-container {
    display: flex;
    justify-content: space-between; 
  }

  .card {
    width: 300px; 
    display: block;
  }

  