/* Style the header */
header {
  background-color: transparent;
  color: #ccc;
  padding: 40px;
  text-align: center;
  font-size: 45px;
  width: 1500px;
}

body {
  background: linear-gradient(to bottom, #000000, #8f3e3e, #e40f0f);
}

/* Search bar background */
.input-group {
  margin-top: 20px;
  text-align: center;
}

/* Search bar input */
#searchInput {
  padding: 10px;
  width: 100%;
  max-width: 400px;
}

/* Search button */
#searchButton {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #7a4b4b;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Style the weather container */
#weatherContainer {
  padding: 30px;
  background-color: transparent;
  color: #ccc;
  border-radius: 4px;
  width: 1500px;
}

/* Style the music container */
.card-content {
  padding: 20px;
  background-color: transparent;
  color: #ccc;
  border-radius: 4px;
  font-size: smaller;
}

/* Style the liked music list */
#liked-music-list {
  margin-top: 40px;
  list-style: none;
  padding: 45px;
  background-color: transparent;
  color: #ccc;
  border-radius: 4px;
}

/* Style the footer */
.footer {
  background-color: transparent;
  color: #ccc;
  text-align: center;
}

.h3 {
  font-size: 50px;
}